<div id="logo-container">
    <img class="logo-svg" src="./img/dragon_logo.svg" alt="">
</div>
<nav id="navmenu">
    <div id="menu-toggle">
        <img id="menu-toggle-svg" src="../img/menu.svg" alt="" srcset="">
    </div>
    <div id="menu-buttons">
        <a id="menu-item-index" class="nav-item" href="../index.html">Início</a>
        <!--<a id="menu-item-sobre" class="nav-item" href="../pages/sobre.html">Minha história</a>
        <a id="menu-item-contato" class="nav-item" href="../pages/contato.html">Contato</a>-->
    </div>
    </ul>
</nav>